*{
    margin: 0;
    padding: 0;
}

  /* ESTILIZAÇÃO DO CORPO DO SITE */

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(27, 112, 55);
}

/* LINKS */

a{
    text-decoration: none;
    color: honeydew;
}

a:hover{
    color:rgb(34, 6, 6) ;
}

/* ESTLIZAÇÃO DO HEADER E MENU */

header{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: tan;
    color: rgb(34, 6, 6);
    max-height: 100%;
    
}

.menu{
    font-size: 130%;
    padding: 15px;
}

.icone-lupa{
    width: 15px ;
}

#txtBusca{
    max-width: 80%;
}

.botao-conta{
    border: none;
    padding: 5px;
    background-color: tan;
    color: rgb(34, 6, 6);
}

.botao-conta:hover{
    color: blanchedalmond;
}


.botao-entrar{
    padding: 10px;
    background-color: tan;
    border: transparent;
    font-size: 20px;
    
}

.botao-entrar:hover{
    color: blanchedalmond;
}

/* .logo {
    width: 100px;
} */

/* ESTILIZAÇÃO DE SECTION */

/* section{
    margin: 0 20px;
} */

/* BANNER PRINCIPAL */

.banner-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(41, 7, 7);
    box-shadow: 1px 1px 1px 2px;
    margin-top: 10px;
    padding: 10px;
}

.logo{
    width: 15vw;
}

.subtitulo{
    padding-left: 40px;
}

/* CORPO DO SITE */

h2{
    margin-top: 10px;
    text-align: center;
    background-color: tan;
    font-size: 40px;
}

.img-mercado{
    width: 200px;
    max-width: 95%;
}

.comida{
    width: 200px;
    max-width: 95%;
}

/* CONTAINER MERCADO E PRATOS PRONTOS */

.container-sessao-de-mercado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    row-gap: 10px;
}

.container-sessao-de-marmitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    padding: 10px;
    row-gap: 10px;
}

#menu-pratos-prontos{
    padding-bottom: 30px;
    padding-top: 60px;
}

.container-de-mercado:hover{
    border-radius: tan 1px solid ;
    box-shadow: tan 5px 5px 3px;
    padding: 40px;
}
    
.container-de-marmita:hover{
    border-radius: tan 1px solid ;
    box-shadow: tan 5px 5px 3px;
    padding: 40px;
}

/* ESTILIZAÇÃO DAS ENTREGAS */

#texto-dados{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
}


/* ESTILIZAÇÃO QUEM SOMOS */

#quem-somos{    
    margin: 50px;
    font-size: 20px;
    text-align: justify;
}

/* ESTLIZAÇÃO DE CONTATO */

#p-de-contato, .form-de-contato{
    margin: 50px;
    font-size: 20px;
    width: 400px;
    text-align: justify;

}

#h3-contato{
    margin: 20px;
    font-size: 25px;
}

/* ESTILIZAÇÃO DO FOOTER */

footer{
    position: relative;
    bottom: 0;
    background-color: tan;
    max-width: 100%;
    height: fit-content;
}

.estilo1footer{ 
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
   justify-content: center;    
}

.estilo2footer{
    display: grid;
    border-bottom:groove;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-bottom: 10px;
}

.estilo3footer{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    align-content: center;
    justify-items: center;
    line-height: 25px;
    text-decoration: none;
}

div>p{
    display:inline-block;
}

.divfooter1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}

.divfooter2{
    display: flex;
    flex-direction: row;
    align-items: center
}

.icone4foodfooter{
    width: 55px;
}

.iconesredes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
}

/* REPONSIVIDADE DO SITE */

@media screen and (min-device-width:320px) and (max-device-width:480px) {
    .menu{
        display:none;
    }

}
 
