*{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
div{
    display: grid;
    align-items: center;
}
=======

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(27, 112, 55);
}
a{
    text-decoration: none;
    color: honeydew;
}

.menu{
    font-size: 25px;
    padding: 15px;
}

.icone-lupa{
    width: 15px ;
}

.logo {
    width: 100px;
}

section{
    margin: 0 20px;
}

header{

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: tan;
    
}

h1{
    font-size: 50px;
    text-align: center;  


}

h2{
    font-size: 30px;
}

.subtitulo{
    text-align: center;
}


.img-mercado{
    width: 200px;
}

.comida{
    width: 200px;
}

.container-sessao-de-mercado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    row-gap: 10px;
}

.container-sessao-de-marmitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    padding: 10px;
    row-gap: 10px;
}

#menu-pratos-prontos{
    padding-bottom: 30px;
    padding-top: 60px;
}

.container-de-mercado:hover{
    border-radius: tan 1px solid ;
    box-shadow: tan 5px 5px 3px;
    padding: 40px;
}
    
.container-de-marmita:hover{
    border-radius: tan 1px solid ;
    box-shadow: tan 5px 5px 3px;
    padding: 40px;
}

footer{
    position: relative;
    bottom: 0;
    background-color: tan;
    width: 100%;
    height: fit-content;
}

.estilo1footer{ 
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
   justify-content: center;    
}

.estilo2footer{
    display: grid;
    border-bottom:groove;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-bottom: 10px;
}

.estilo3footer{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    align-content: center;
    justify-items: center;
    line-height: 25px;
    text-decoration: none;
}

div>p{
    display:inline-block;
}

.divfooter1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}

.divfooter2{
    display: flex;
    flex-direction: row;
    align-items: center
}

.icone4foodfooter{
    width: 55px;
}

.iconesredes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
}
 
>>>>>>> 9c33600b86443dd5fee13dc0a9214f1f6c1f3108
